$font-header: "Frank Ruhl Libre" !important;
$font-color: #071d40 !important;
$primary-color: #39b54a !important;
$bg-color: linear-gradient(to left, #a6d254, #83d2ae);
$border-bg-color: 1px solid #83d2ae;


.warp-cover {
  // margin-top: 5rem;
  // position: relative;
  // text-align: center;
  // line-height: 0;
  // min-height: 80vh;
  // height: auto;

  // img {
  //   object-fit: cover;
  //   width: 100%;
  //   height: 80vh;
  //   opacity: 0.6;
  //   @media (max-width: 575.98px) {
  //     height: 50vh;
  //   }
  // }

  .page-content {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 3rem;

    .container-fluid {
      display: flex;
      .title {
        padding-left: 9rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 767px) and (max-width: 1024px) {
          padding-left: 5rem;
          width: 50%;
        }

        h1 {
          font-weight: bold;
          color: $font-color;
        }
        h5 {
          border: $border-bg-color;
          cursor: pointer;
          margin-top: 1rem;
          background: $bg-color;
          color: white !important;
          border-radius: 2rem;
          padding: 1rem 2rem;
        }
        h5:hover {
          color: $font-color;
          border: $border-bg-color;
          background: white !important;
        }

        .detail {
          display: flex;
          margin: 1rem 0.5rem;
          svg {
            height: 5.5rem;
            width: 1rem;
            stroke: $primary-color;
            stroke-width: 3;
          }

          .text-content {
            display: flex;
            flex-direction: column;
            h6 {
              color: $font-color;
              text-align: start;
              padding-top: 0.5rem;
              margin-bottom: 0rem !important;
            }
          }
        }
      }
      .cover {
        display: flex;
        justify-content: center;
        width: 60%;

        @media (max-width: 1199.98px) {
          width: 50%;
        }

        img {
          width: auto;
          height: 25rem;
        }
      }
    }
  }
  @media (max-width: 768.99px) {
    .title {
      display: flex;
      align-items: center !important;
      padding-left: 0 !important;
      width: 100% !important;
      text-align: center;

      .text-content {
        align-items: center;
        text-align: center !important;
        h6{
          align-items: center;
          text-align: center !important;
        }
      }
    }
  }
}
