.menu {
    width: 20%;
    float: left;
  }
  .main {
    width: 80%;
    float: left;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item8 {
    grid-area: 1 / 2 / 5 / 6;
    width: 80%;
    float: right;

  }